# 단일 표본 t 검정
* txt 파일의 데이터를 읽어서 float형으로 형변환
* 정규성 검정
* kstest를 활용해 정규성 검정 진행

In [26]:
with open("./datas2/성인여성_키_데이터.txt","r") as f:
    data = f.read().split("\n")
    data = map(float,data) #리스트 요소가 문자열
    data = list(data)
    print(data)
    print(list(data)) #map 함수의 결과를 list로 형변환 -> 출력

[150.27, 142.94, 160.99, 157.48, 153.46, 137.5, 154.94, 159.51, 171.87, 143.69, 153.65, 160.25, 153.07, 154.42, 141.21, 154.17, 162.56, 164.44, 172.36, 141.51, 169.4, 167.97, 170.26, 157.8, 167.61]
[150.27, 142.94, 160.99, 157.48, 153.46, 137.5, 154.94, 159.51, 171.87, 143.69, 153.65, 160.25, 153.07, 154.42, 141.21, 154.17, 162.56, 164.44, 172.36, 141.51, 169.4, 167.97, 170.26, 157.8, 167.61]

In [27]:
data[:3]

[150.27, 142.94, 160.99]

In [28]:
from scipy import stats
import numpy as np

# 평균과 표준편차 계산
mean_value = np.mean(data)
std_dev = np.std(data, ddof=0)  # 모집단 표준편차(기본 설정)

mean_value, std_dev

(np.float64(156.9332), np.float64(9.974187774450611))

## 가설 설정

* 귀무가설: 표본 데이터의 평균은 163과 같다.
* 대립가설: 표본 데이터의 평균은 163과 다르다.

## 정규성 검정
* 방법 1 : KS-test

In [29]:
# 정규성 검정, KS-test(Kolmogorov-Smirnov) 검정
#  KS-test는 주어진 표본 데이터가 특정 이론적인 분포(예: 정규분포)를 따르는지 검정하는 방법

# 'norm': 비교 대상이 되는 이론적인 분포를 지정 ('norm'은 정규분포)
# args=(np.mean(data), np.std(data, ddof=0)): 표본 데이터의 평균과 표준편차를 사용하여 정규분포의 모수 설정
ks_statistic, p_value = stats.kstest(data, 'norm', args=(np.mean(data), np.std(data, ddof=0)))
ks_statistic, p_value

(np.float64(0.10925974986314058), np.float64(0.8950958424230889))

[결과 해석]

* p-value > 0.05: 귀무가설을 기각하지 못함 → 데이터가 정규분포를 따르지 않는다 라고 말할 충분한 증거가 없음.
* p-value <= 0.05: 귀무가설을 기각 → 데이터는 정규분포를 따르지 않는다고 판단.

* 방법2 : Shapiro-Wilk 검정
    * scipy.stats.shapiro()

In [30]:
stats.shapiro(data)

ShapiroResult(statistic=np.float64(0.9535807149342824), pvalue=np.float64(0.3014257470765011))

[해설]

* p-value > 0.05 : 정구분포를 따르지 않는다라고 말할 충분한 증거가 없음. 귀무가설 기각하지 않음


  >>>  여기까지는 따라잡느라 놓친 부분 복습 필수

# 단일 표본 T 검정하기

In [31]:
ttest_1samp(data,163)

NameError: name 'ttest_1samp' is not defined

> 하 여기까지도 일단 진행하는 중... 추후 복습 필수

# 단일 표본 T 검정하기

* 두 그룹 a, b의 차이를 검증할 때 사용하는 검증 방법
* 문제 : a, b반의 점수 차이가 있는 지 검증하기
* [가설 설정]
* h0 : a반과 b반의 평균은 같다.
* h1 : a반과 b반의 평균은 다르다.
* 다르다 = 양측 검증 높/낮다 = 단층 검증

In [32]:
import pandas as pd
import numpy as np

In [33]:
df1 = pd.read_csv("./datas2/반별_점수_type1.csv", encoding = "euc-kr")
# df1 = pd.read_csv("./datas2/반별_점수_type1.csv")
df1.head()

   반  점수
0  A  73
1  A  69
2  A  71
3  A  71
4  A  73

In [34]:
df1.tail()

    반  점수
25  B  77
26  B  75
27  B  65
28  B  61
29  B  55

In [35]:
df1.value_counts()

반  점수
A  73    4
B  55    2
A  71    2
   70    2
   69    2
B  61    2
A  68    1
   67    1
   66    1
   65    1
   62    1
   58    1
   74    1
   76    1
   82    1
   81    1
B  56    1
   63    1
   65    1
   73    1
   75    1
   77    1
Name: count, dtype: int64

In [36]:
df1['반'].value_counts() #데이터프레임에서 반 컬럼의 유니크한 값의 갯수 확인

반
A    20
B    10
Name: count, dtype: int64

### a반과 b반 데이터 분리하기

In [42]:
# a반 데이터만 추출
groupA = df1['점수'].loc[df1['반']=='A'].values
len(groupA)
#loc(location) 필터링 기준, 어떤 위치에 있는 값을 가져올 것인가?
# >위 구문을 해석하면, df1의 '반'칼럼에서 'A'인것만 뽑아와.

20

In [43]:
# b반 데이터만 추출
groupB = df1['점수'].loc[df1['반']=='B'].values
len(groupB)

10

* 위 두 그룹의 각각 평균과 표준편차 구하기

In [47]:
import numpy as np

# A반의 평균과 표준 편차
meanA = np.mean(groupA)
stdA = np.std(groupA, ddof=1)  # 표본 표준 편차 (ddof=1)
meanA, stdA

(np.float64(70.55), np.float64(5.67983506061483))

In [48]:
# B반의 평균과 표준 편차
meanB = np.mean(groupB)
stdB = np.std(groupB, ddof=1)  # 표본 표준 편차 (ddof=1)
meanB, stdB

(np.float64(64.1), np.float64(8.279157230325104))

In [49]:
# 결과 출력
print(f"A반 평균: {meanA:.2f}, 표준 편차: {stdA:.2f}")
print(f"B반 평균: {meanB:.2f}, 표준 편차: {stdB:.2f}")

A반 평균: 70.55, 표준 편차: 5.68
B반 평균: 64.10, 표준 편차: 8.28

## 정규성 검정

In [65]:
stdevA = stats.kstest(groupA, 'norm', args=(np.mean(groupA), np.std(groupA, ddof=1)))
print(stdevA)

KstestResult(statistic=np.float64(0.13310674849448567), pvalue=np.float64(0.8254564220619713), statistic_location=np.int64(73), statistic_sign=np.int8(1))

In [66]:
stdevB = stats.kstest(groupB, 'norm', args=(np.mean(groupB), np.std(groupB, ddof=1)))
print(stdevB)

KstestResult(statistic=np.float64(0.15881009358601705), pvalue=np.float64(0.9295432555006241), statistic_location=np.int64(73), statistic_sign=np.int8(-1))

In [67]:
#방법 2
stat, p = stats.shapiro(groupA) 
print(f"groupA의 stat: {stat}, p: {p}")
stat, p = stats.shapiro(groupB) 
print(f"groupB의 stat: {stat}, p: {p}")

groupA의 stat: 0.9696965803625964, p: 0.748452591551455
groupB의 stat: 0.8888437044166572, p: 0.16456075946955223

## 등분산 검정

In [60]:
stats.levene(groupA, groupB)

LeveneResult(statistic=np.float64(2.033067087400979), pvalue=np.float64(0.16496408622210104))

[해석]
* p-value > 0.05 : 두 그룹의 분산이 같다(등분산)을 띈다고 볼 수 있음
* p-value <= 0.05 : 두 그룹의 분산이 같지않다.

In [61]:
# group_A의 분산  
np.var(groupA, ddof=1)

np.float64(32.26052631578948)

In [62]:
# group_B의 분산
np.var(groupB, ddof=1)

np.float64(68.54444444444445)

## 독립표본 t-검정 수행

In [64]:
# A와 B간에는 차이가 존재함을 확인
# equal_var = True(등분산 만족)
print(stats.ttest_ind(groupA, groupB, equal_var = True))

TtestResult(statistic=np.float64(2.5128526794964134), pvalue=np.float64(0.01801095352893767), df=np.float64(28.0))

* p-value < 0.05 : 그룹 A와 그룹 B의 평균 차이가 있다는 것을 알 수 있음
* 통계값이 양수이므로 : A반 학생들의 성적이 더 좋다는 것을 알 수 있음

# tip. 다른 포맷의 데이터 처리

# 비즈니스 상황에서 적용

- 단일 표본 t-검정, 독립표본 t-검정 관심 도메인에서 사용 예시 1개씩 찾아서 공유하기